#location{
    padding-top:3%;
    width:90%;
    height:40%;
    display:block;
    margin:auto;
    .info{
        display:inline-block;
        padding-left:3%;
        
        float:left;
        width:30%;
        height:100%;

        p{
            text-align:center;
            font-weight: bold;
        }
        div{
            width: 100%;
            text-align: center;
        }

        h2{
            text-align: center;
        }

        img{
            width:30%;
            height:30%;
        }
        #video{
            width:10%;
            height:10%;

        }
        div{
            a{
            }

            p{
                text-align:center;
                font-weight: bold;
            }
        }

    }
}